<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.datatools.sqltools.routineeditor.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.datatools.sqltools.debug.launching.databasename" value="MyDB"/>
<intAttribute key="org.eclipse.datatools.sqltools.debug.launching.optiontype" value="1"/>
<listAttribute key="org.eclipse.datatools.sqltools.debug.launching.parameters">
<listEntry value="Y0"/>
<listEntry value="Y0"/>
<listEntry value="Y0"/>
<listEntry value="N"/>
</listAttribute>
<stringAttribute key="org.eclipse.datatools.sqltools.debug.launching.procid" value="PROFILE=New Derby/DBNAME=MyDB/TYPE=0/OWNER=SYSIBM/NAME=CLOBSETSTRING/"/>
<stringAttribute key="org.eclipse.datatools.sqltools.debug.launching.profileName" value="New Derby"/>
<stringAttribute key="org.eclipse.datatools.sqltools.debug.launching.triggersql" value="exec SYSIBM.CLOBSETSTRING 0, 0, 0, null"/>
<intAttribute key="org.eclipse.datatools.sqltools.debug.launching.type" value="0"/>
</launchConfiguration>
