<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PayPal</display-name>
  <welcome-file-list>
    <welcome-file>Pagina-Inicial.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>set</filter-name>
  	<filter-class>Filter.PayPalFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>set</filter-name>
  	<url-pattern>/Check</url-pattern>
  </filter-mapping>
 <!--  <servlet>
  	<servlet-name>set</servlet-name>
  	<servlet-class>Filter.PayPalFilter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>set</servlet-name>
  	<url-pattern>/Check</url-pattern>
  </servlet-mapping>-->
  <servlet>
  	<servlet-name>din</servlet-name>
  	<servlet-class>Logica.ValidaPedido</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>din</servlet-name>
  	<url-pattern>/Pedido</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>auto</servlet-name>
  	<servlet-class>Logica.Auto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>auto</servlet-name>
  	<url-pattern>/Auto</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>status</servlet-name>
  	<servlet-class>Logica.Status</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>status</servlet-name>
  	<url-pattern>/Status</url-pattern>
  </servlet-mapping>
</web-app>